<router-outlet></router-outlet>

<!-- start info section -->
<section class="info_section">
  <div class="container">
    <div class="row" style="justify-content: center">
      <img src="assets/images/tweekerwhite.png" height="110px" style="padding: 20px 0;">
    </div>
  </div>
</section>
<!-- end info section -->


<!-- footer section -->
<section class="container-fluid footer_section">
  <p>&copy; <span id="displayYear"></span> All Rights Reserved. Tweeker</p>
</section>
<!-- footer section -->
