<!-- CONTACT -->
<section class="contact">
  <h2 class="contact-title text-uppercase text-center">Add your ICE SCREAM!</h2>
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <div class="col-sm-6 contact-form">
        <div>
          <div>
            <input type="text" placeholder="Name" formControlName="name" required />
          </div>
          <div>
            <input type="text" class="message_input" formControlName="description" placeholder="Description" required />
          </div>
          <div>
            <input type="text" placeholder="Image URL" formControlName="imageUrl" required />
          </div>
          <div>
            <input formControlName="price" type="number" placeholder="Price" required />
          </div>
          <div>
            <button type="submit">Add</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /CONTACT -->